<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>{{title}}</title>
</head>
<header>

    <div class="logo-area">
        <a id="name" class="text-white font-bold" href="/">Vacation Destinations</a>
    </div>
    <nav class="nav" id="nav">
        <ul id="nav-grid" class="grid text-white">
            <li><a class="text-blue" href="/login">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
            <li><a href="/propertylisting">Property Listing</a></li>
        </ul>
        <a id="hamburger" href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fas fa-bars"></i></a>
    </nav>

</header>
<body>


    {{{body}}}

</body>
</html>