<link rel="stylesheet" href="/css/slider.css">

<section class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport">
    <li id="carousel__slide1"
        tabindex="0"
        class="carousel__slide">
        <div class="slider-text">Check out out some of <br>our most popular destinations!<br><a class="btn btn-secondary" href="/propertylisting">Click here</a></div>
      <div class="carousel__snapper">
        <a href="#carousel__slide4"
           class="carousel__prev">Go to last slide</a>
        <a href="#carousel__slide2"
           class="carousel__next">Go to next slide</a>
      </div>
    </li>
    <li id="carousel__slide2"
        tabindex="0"
        class="carousel__slide">
        <div class="slider-text">Check out out some of <br>our most popular destinations! <br><a class="btn btn-secondary" href="/propertylisting">Click here</a></div>
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide1"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide3"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide3"
        tabindex="0"
        class="carousel__slide">
        <div class="slider-text">Check out out some of <br>our most popular destinations! <br><a class="btn btn-secondary" href="/propertylisting">Click here</a></div>
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide2"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide1"
         class="carousel__next">Go to next slide</a>
    </li>

  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a href="#carousel__slide1"
           class="carousel__navigation-button">Go to slide 1</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide2"
           class="carousel__navigation-button">Go to slide 2</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide3"
           class="carousel__navigation-button">Go to slide 3</a>
      </li>
    </ol>
  </aside>
</section>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere repudiandae eveniet dolorem atque repellendus beatae aperiam reiciendis necessitatibus distinctio illum quo, temporibus, sint quam. Saepe vel tempore aliquam accusamus sunt. Dolore, quia omnis reprehenderit quibusdam deleniti sint eum soluta distinctio. Sapiente explicabo iste eligendi necessitatibus architecto voluptate sit ipsam neque?</p>

